E2B_API_KEY='<REDACTED>'
E2B_API_KEY_BACKUP_3='<REDACTED>'
E2B_API_KEY_BACKUP_4='<REDACTED>'
E2B_API_KEY_BACKUP_5='<REDACTED>'
E2B_API_KEY_BACKUP_6='<REDACTED>'
HARBOR_ENV_TYPE='e2b'
HARBOR_CONCURRENCY='1'
HARBOR_JOBS_DIR='/home/lenovo/.tmp_harbor_jobs_health_fitness'
E2B_RUNTIME_ROOT='/home/lenovo/.tmp_harbor_runtime_health_fitness'
OPENAI_API_KEY='<REDACTED>'
HARBOR_AGENT='codex'
HARBOR_MODEL='gpt-5.4'
CODEX_MODEL_PROVIDER='gzl'
CODEX_PROVIDER_BASE_URL="http://149.88.88.6:8317/v1"
CODEX_REASONING_EFFORT='high'
CODEX_SANDBOX_MODE='workspace-write'
CODEX_APPROVAL_POLICY='on-request'
CODEX_WEB_SEARCH='live'
CODEX_PERSONALITY='pragmatic'
CODEX_APPROVALS_REVIEWER='user'
CODEX_DISABLE_RESPONSE_STORAGE='true'
CODEX_MAX_TURNS='100'
AGENT_TIMEOUT_MULTIPLIER='2'

